.fetchLoad {
  text-align: center;
  width: 100%;
}
.fetchLoad ion-icon {
  display: inline-block;
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  font-size: 4rem;
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
}
